<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li{
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h2>4. 활용한 데이터</h2>
    <hr>
    <ol>
        <li>K드라마<br>
            <br>
            <img src="{{url_for('static', filename='K드라마 데이터프레임.png')}}" alt="K드라마 데이터프레임" />
            <br>
        </li>
        <br>
        <li>미디어 유입경로<br>
            <br>
            <img src="{{url_for('static', filename='유입경로 데이터프레임.png')}}" alt="유입경로 데이터프레임" />
        </li>
        <br>
        <li>매체 이용량<br>
            <br>
            <img src="{{url_for('static', filename='매체 데이터프레임.png')}}" alt="매체 데이터프레임" />
        </li>
            <br>
            <li>구글 검색량<br>
            <br>
            <img src="{{url_for('static', filename='검색량 데이터프레임.png')}}" alt="검색량 데이터프레임" />
        </li>
    </ol>
    <br>
    <br>
    <br>
</body>
</html>