<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            width: 1600px;
            position: center;
        }
    </style>
</head>

<body>
    <h2>8. 팀원 역할</h2>
    <hr>
    <table border="1">
        <tr align="center">
            <td>하승철(팀장)</td>
            <td>김지홍</td>
            <td>오주현</td>
            <td>김상석</td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>한글제목 크롤링</li>
                    <li>HTML/CSS 작업</li>
                    <li>검색량 데이터수집 및 도식화</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>HTML/CSS 작업</li>
                    <li>원본 데이터 도식화</li>
                    <li>총정리 및 발표</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>미디어, 매체 데이터 수집</li>
                    <li>데이터 도식화</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>연도별 유행 장르 도식화</li>
                    <li>HTML/CSS 작업</li>
                </ul>
            </td>
    </table>
    <br>
    <br>
    <br>
</body>

</html>