<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>6. 분석에 대한 결론</h2>
    <hr>
    <p>유의미한 요소 : 연도별 드라마 회차, 연도별 유입경로, 연령별 매체 이용률, 검색량</p>
    <p>무의미한 요소 : 감독별 평점, 작가별 평점, 제작사별 평점</p>
    <h3>마무리</h3>
    <ul>
        <li>K드라마는 지금 OTT와 다양한 매체를 통해 변화하고 있고, 다양한 연령이 즐기고 있다는 것을 확인했다.</li>
        <li>분석 목표에 따라 분석할 데이터들의 가치와 의미가 달라진다.</li>
        <li>데이터마다 팀원들끼리 생각하는 인사이트가 다르기 때문에 의견조율이 중요했다.</li>
    </ul>
    <br>
    <br>
    <br>
</body>
</html>