<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>1. 분석 목표 설정</h2>
    <hr>
    <ul>
        <li>K 드라마 데이터 내 있는 데이터를 확인 후 정보 시각화</li>
        <li>K 드라마 데이터로 도출해 낼 수 있는 인사이트가 제한적</li>
        <li>K 드라마에 대한 다른 데이터 활용</li>
        <br>
            <li>연도별 드라마 시간, 연도별 드라마 회차 시각화</li>
            <li>연령대별 미디어 유입경로, K 드라마 검색량 시각화 통한 인사이트 습득</li>
    </ul>
    <br>
    <br>
    <br>
</body>
</html>