<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>2. 분석방법</h2>
    <hr>
    <ol>
        <li>드라마 시간 시각화</li>
        <ul>
        <li>드라마 시간을 분단위로 변환 후 새로운 컬럼 추가</li>
        <li>새로운 컬럼을 활용해 연도별로 드라마 시간 시각화</li>
        </ul>
        <br>
        <li>연령제한 드라마 시각화</li>
        <ul>
        <li>연도별로 연령제한 드라마 시각화</li>
        <li>채널과 연관있는지 분석</li>
        </ul>
        <br>
        <li>K드라마 OTT 유입 시각화</li>
        <ul>
        <li>미디어 유입 증가 데이터 수집</li>
        <li>연령별로 미디어 유입 증가 시각화</li>
        </ul>
        <br>
        <li>K드라마 검색량 시각화</li>
        <ul>
        <li>관심도를 파악하기 위해 검색량 데이터 수집</li>
        <li>연도별로 검색량을 시계열 그래프로 시각화</li>
        </ul>
    </ol>
    <br>
    <br>
    <br>
</body>
</html>